<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Fred Jacobs - Dev.Net</title>
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../../css/cv.css"/>
    </head>
    <body>
        <div id="header" class="row">
            <div id="contacts" class="third vtop pull-left"></div>
            <div id="infos" class="third vtop text-right pull-right"></div>
            <div id="title">
                <h1>Développeur .Net</h1><br/>
                <span class="emphasis">cherche partenaire pour partager compétences</span>
            </div>
            <div class="clear-fix"></div>
        </div>
        
        <div id="content" class="row">
            <div id="proficiency-tag-cloud-container">
                <div id="proficiency-tag-cloud-html" class="canvas"></div>
            </div>
            <div id="right-pane-container" class="pull-right">
                <!--<img id="golden" src="../../css/img/golden.png" />-->
                <div id="experience-container"></div>
                <div id="education-container"></div>
                <div id="languages-container">
                    <div id="languages-chart">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div id="footer" class="row text-center">
            <div id="citation" class="text-center">
                « Ce qu'on sait, savoir qu'on le sait; ce qu'on ne sait pas, savoir qu'on ne le sait pas : c'est savoir véritablement. »
                <br/>
                <span>(Confucius)</span>
            </div>
        </div>
        
        <div id="templates">
            <ul id="timeline-template" class="timeline">
                <li>
                    <div class="timeline-badge">
                        <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading"><h4></h4></div>
                        <div class="timeline-body"><p></p></div>
                        <div class="timeline-footer">
                            <p class="organisation"></p>
                            <p class="date"></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script class="removable-script" src="../../js/jquery-2.2.4.min.js"></script>
        <script class="removable-script" src="../../js/wordcloud2.js"></script>
        <script class="removable-script" src="../../js/cv.js"></script>
        <script src="../../js/cv.contact_info.js"></script>
    </body>
</html>